
._title-0 {
 
    color: rgb(209, 209, 209);
    letter-spacing: 1px;
    font-weight: 350;
    font-size:14px;
    margin-bottom: 15px;
    font-family: Montserrat,
        sans-serif;
}

._title-1 {
 
    color: rgb(170, 169, 169);
    letter-spacing: 1px;
    font-weight: 450;
    font-size: 22px;
    margin-bottom: 15px;
    font-family:  'Arial Narrow', Arial, sans-serif;
}

._title-22 {

    color: rgb(252, 93, 19);
    letter-spacing: 1px;
    font-weight: 350;
    font-size:14px;
    margin-bottom: 15px;
    font-family: Montserrat,
        sans-serif;
}

.round2 {
    border: 2px solid rgb(226, 66, 17);
    border-radius: 8px;
    text-align: center;
    padding: 0px;
}

.disfocar-img {
    filter: blur(3px)
}

.desc1{
    color: rgb(33, 44, 199);
    letter-spacing: 0.05em;
    font-weight: 350;
    font:14px arial;
    
}
