{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>FireteK-Aluno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap-slate.min.css' %} " rel="stylesheet">
    <link href="{% static 'css/rug-app.css' % }" rel="stylesheet">
    <link href="{% static 'css/jquery.noty.css' %}" rel='stylesheet'>
    <script src="{% static 'components/jquery/jquery.min.js' %}"></script>
</head>
<body>
    <div class=" navbar  navbar-relative-top" role="navigation">    
        <div class=" navbar-inner ">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs">Bem vindo {{ aluno_list.nome }}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Perfil</a></li>
                    <li class="divider"></li>
                    <li><a href="../login">Sair</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="sidebar-nav">
                    <div class="nav-canvas">
                        <div class="nav-sm nav nav-stacked">

                        </div>
                        <ul class="nav nav-pills nav-stacked main-menu">
                            <div class="imgcontainer">
                                <img src="" style="width:195px;height:200px" alt="Avatar" class="avatar">
                            </div>
                            <li class="nav-header">Menu</li>
                            <li><a class="ajax-link" href=""><i class="glyphicon glyphicon-home"></i><span>
                                        Inicio</span></a>
                            </li>
                            <li><a class=" dropdown ajax-link" data-toggle="dropdown" href="../ui"><i class="glyphicon glyphicon-list-alt"></i><span>
                                        Secretaria On-line</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="">Notas & Faltas</a></li>
                                    <li><a href="">Atividades Complementares</a></li>
                                    <li><a href="#">Ouvidoria</a></li>
                                    <li><a href="">Contato dos Professores</a></li>
                                </ul>
                            </li>
                            <li><a class="" ajax-link" href="../form"><i class="glyphicon glyphicon-edit"></i><span>
                                        Arquivos </span></a></li>
                            <li><a class="ajax-link" href="../chart"><i class="glyphicon glyphicon-list-alt"></i><span>
                                        Financerio On-line</span></a>
                            </li>                    
                            <li><a class="ajax-link" href="../calendario"><i class="glyphicon glyphicon-calendar"></i><span>
                                Calendario & Horarios</span></a>
                            </li>
                            <li><a class=" dropdown ajax-link" data-toggle="dropdown" href="../uil"><i class="glyphicon glyphicon-list-alt"></i><span>
                                    Disciplinas</span></a>
                                <ul class="dropdown-menu">
                                    
                                    <li><a href="#">disciplina</a></li>
                                    
                                </ul>
                            </li>

                            <li><a class="ajax-link" href=""><i class="glyphicon glyphicon-th"></i><span> menu</span></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-globe"></i><span> menu3</span></a></li>
                            <li><a class="ajax-link" href=""><i class="glyphicon glyphicon-star"></i><span>
                                        Icons</span></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-ban-circle"></i><span> menu4</span></a>
                            </li>
                            <li><a href=""><i class="glyphicon glyphicon-lock"></i><span> menu</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="" class="col-lg-10 col-sm-10">
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Inicio</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well">
                                <h2><i class="glyphicon glyphicon-info-sign"></i> Novidades</h2>

                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content row">
                                <div class="col-lg-7 col-md-12">
                                    <h3 class="">ESSA VOCÊ NÃO PODE PERDER!!!!</h3> <br>
                                    <p>A oportunidade que você esperava , CHEGOU!!</p>
                                    <p>Agora indicando 3 amigos, você ganha um curso gratis, é de GRAÇAA!!
                                        E você ainda pode ter seus amigos estudando com você</p>

                                    <p><b>Consulte o Regulamento, comece a convidar seus amigos, e aumente seu
                                            potencial</b></p>

                                    <p class="center-block download-buttons">
                                        <a href="" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-chevron-right glyphicon-white"></i>
                                            Regulamento</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="box col-md-4">
                        <div class="box-inner homepage-box">
                            <div class="box-header well">
                                <h2><i class="glyphicon glyphicon-th"></i> Informações</h2>

                                <div class="box-icon">
                                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="active"><a href="#info">Info</a></li>
                                    <li><a href="#custom">SmartClass</a></li>
                                    <li><a href="#messages">Microsoft</a></li>
                                </ul>

                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane active" id="info">
                                        <h3>
                                            <small></small>
                                        </h3>
                                        <p></p>

                                        <p></p>
                                        <a href="" target="_blank"><strong>
                                            </strong></a>
                                        <br>
                                        <a href="" target="_blank"><strong>
                                            </strong></a>
                                    </div>
                                    <div class="tab-pane" id="custom">
                                        <h3>
                                            <small></small>
                                        </h3>
                                        <p></p>

                                        <p></p>
                                    </div>
                                    <div class="tab-pane" id="messages">
                                        <h3>Messages
                                            <small></small>
                                        </h3>
                                        <p></p>

                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->

                    <div class="box col-md-4">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i>Notificações</h2>

                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <div class="box-content">
                                    <ul class="dashboard-list">
                                        <li>
                                            <a href="#"><img class="dashboard-avatar" alt="" src=""></a>
                                            {% for disciplina in disciplina %}
                                            <strong>Nome:</strong> <a href="#">{{ disciplina.professor.nome }}</a><br>
                                            <strong>Materia:</strong>{{ disciplina.disciplina.nome }}<br>
                                            <strong>Status:</strong> <span class="label-success label label-default">Entregue</span><br>
                                            {% endfor %}
                                            
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <hr>

                <footer class="row">

                </footer>
            </div>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'components/chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'components/colorbox/jquery.colorbox-min.js' %}"></script>
    <script src="{% static 'components/responsive-tables/responsive-tables.js' %}"></script>
    <script src="{% static 'js/jquery.raty.min.js' %}"></script>
    <script src="{% static 'js/jquery.iphone.toggle.js' %}"></script>
    <script src="{% static 'js/jquery.autogrow-textarea.js' %}"></script>
    <script src="{% static 'js/jquery.uploadify-3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.history.js' %}"></script>
    <script src="{% static 'js/rug.js' %}"></script>
</body>
</html>