{% extends 'firetek/base_area.html' %}

{% block content_boletim_professor %}
<title>FireteK contato Professores</title>
{% endblock %}
    
{% block content_nome_aluno %}
<i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> {{ aluno_list.nome }}</span>
    <span class="caret"></span></button>
{% endblock %}

{% block content_imagen_aluno_p %}
<div class="imgcontainer">
    <img src="{{ aluno_list.image.url }}" style="width:165px;height:190px" alt="Avatar" class="avatar">
</div>
{% endblock %}
                
{% block content_lista_menu_esquerdo_professor %}
<li><a class="ajax-link" href="{% url 'firetek:usuario' aluno_list.id %}"><i class="glyphicon glyphicon-home"></i><span>
        Inicio</span></a></li>
<li><a class=" dropdown ajax-link" data-toggle="dropdown" href="ui.html">
    <i class="glyphicon glyphicon-list-alt"></i><span> Secretaria On-line</span></a>
<ul class="dropdown-menu">
    <li><a href="{% url 'firetek:boletim' aluno_list.id %}">Notas & Faltas</a></li>
    <li><a href="{% url 'firetek:alunoList' aluno_list.id %}">Atividades Complementares</a></li>
    <li><a href="#">Ouvidoria</a></li>
    <li><a href="{% url 'firetek:contato' aluno_list.id %}">Contato dos Professores</a></li>
</ul>
</li>
{% endblock %}

{% block content_area_contato_professor %}
<div id="content" class="col-lg-10 col-sm-10"></div>
<div>
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Inicio</a></li>
    </ul>
</div>
    <h1 class="breadcrumb">Area de Contato | Professores</h1>
</div>
{% endblock %}

{% block content_tabela_professor %}
<!--iniciando a tabela dos professores-->
<div class="col-lg-10 col-sm-10">
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>WhatsApp</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            {%  for professor in professores %}
            <tr>
                <td><a href="{% url 'firetek:professor' professor.id %}">{{ professor.first_name }}</a></td>
                <td> {{ professor.celular }} </td>
                <td> {{ professor.email }} </td>
                <!--Classe btn-sm diminui o tamanho do botão-->
                <td><button type="button" class="btn btn-success btn-sm">WhatsApp</button></td>
                <td><button type="button" class="btn btn-success btn-sm">E-mail</button></td>
            </tr>
            {% endfor %}                        
        </tbody>
    </table>
</div>
{% endblock %}

