{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Secretaria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap-slate.min.css' %} " rel="stylesheet">
    <link href="{% static 'css/rug-app.css' % }" rel="stylesheet">
    <link href="{% static 'css/jquery.noty.css' %}" rel='stylesheet'>
    <script src="{% static 'components/jquery/jquery.min.js' %}"></script>
</head>

<body>
    <!-- topbar starts -->
    <div class=" navbar  navbar-relative-top" role="navigation">    
        <div class=" navbar-inner ">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs">Bem vindo {{ user.first_name }}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Perfil</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- topbar fim -->
    <div class="container">
        <div class="row">
            <!-- left menu starts -->
            <div class="col-sm-2">
                <div class="sidebar-nav">
                    <div class="nav-canvas">
                        <div class="nav-sm nav nav-stacked"></div>
                        <ul class="nav nav-pills nav-stacked main-menu">
                            
                            <div class="imgcontainer">
                                <img src="{{ coordenador.imagem.thumbnail.url }}" style="width:165px;height:190px" alt="" class="avatar">
                            </div>
                            
                            <li class="nav-header">{{ user }}</li>
                            <li><a class="ajax-link" href=""><i class="glyphicon glyphicon-home"></i><span>
                                        Inicio</span></a>
                            </li>
                            <li><a class=" dropdown ajax-link" data-toggle="dropdown" href="../ui"><i class="glyphicon glyphicon-list-alt"></i><span>
                                        Secretaria On-line</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="">Notas & Faltas</a></li>
                                    <li><a href="">Atividades Complementares</a></li>
                                    <li><a href="#">Ouvidoria</a></li>
                                    <li><a href="">Contato dos Professores</a></li>
                                </ul>
                            </li>
                            <li><a class="ajax-link" href="../form"><i class="glyphicon glyphicon-edit"></i><span>
                                        Arquivos </span></a></li>
                            <li><a class="ajax-link" href="../chart"><i class="glyphicon glyphicon-list-alt"></i><span>
                                        Financerio On-line</span></a>
                            </li>                    
                            <li><a class="dropdown ajax-link" data-toggle="dropdown" href=""><i class="glyphicon glyphicon-list-alt"></i><span>
                                Agenda</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="">Calendario</a></li>
                                    <li><a href="">Horarios</a></li>
                                </ul>
                            </li>
                            <li><a class=" dropdown ajax-link" data-toggle="dropdown" href="../uil"><i class="glyphicon glyphicon-list-alt"></i><span>
                                    Disciplinas</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">disciplina</a></li>
                                </ul>
                            </li>

                            <li><a class="ajax-link" href=""><i class="glyphicon glyphicon-th"></i><span> menu</span></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-globe"></i><span> menu3</span></a></li>
                            <li><a class="ajax-link" href=""><i class="glyphicon glyphicon-star"></i><span>
                                        Icons</span></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-ban-circle"></i><span> menu4</span></a>
                            </li>
                            <li><a href=""><i class="glyphicon glyphicon-lock"></i><span> menu</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!---Left Menu fim-->
            <div id="content" class="col-lg-10 col-sm-10">
                <div>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Inicio</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well">
                                <h2><i class="glyphicon glyphicon-info-sign"></i> Novidades</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content row">
                                <div class="box col-md-12">
                                    <div class="box-inner">
                                        <div class="box-header well" data-original-title="">
                                            <h2><i class="glyphicon glyphicon-user"></i>{{ aluno }} teste</h2>
            
                                            <div class="box-icon">
                                                <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                                <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </div>
                                        <div class="box-content">
                                            <div class="box-content">
                                                <ul class="dashboard-list">
                                                    <li>
                                                        <a href="#"><img class="dashboard-avatar" alt="" src="">Atividade</a><br>
                                                        {% for atividade in atividades %}
                                                        <strong>Titulo:</strong> <a href="#">{{ atividade.titulo }}</a><br>
                                                        <strong>Professor:</strong>{{ atividade.professor.first_name }}<br>
                                                        <strong>Status:</strong> <span class="label-success label label-default">{{ atividade.status }}</span><br>
                                                        {% endfor %}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner homepage-box">
                            <div class="box-header well">
                                <h2><i class="glyphicon glyphicon-th"></i> Informações</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="row"></footer><br>
            </div>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>


            <script src="{% static 'js/jquery.cookie.js' %}"></script>

            <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

            <script src="{% static 'components/chosen/chosen.jquery.min.js' %}"></script>

            <script src="{% static 'components/colorbox/jquery.colorbox-min.js' %}"></script>


            <script src="{% static 'components/responsive-tables/responsive-tables.js' %}"></script>


            <script src="{% static 'js/jquery.raty.min.js' %}"></script>

            <script src="{% static 'js/jquery.iphone.toggle.js' %}"></script>

            <script src="{% static 'js/jquery.autogrow-textarea.js' %}"></script>

            <script src="{% static 'js/jquery.uploadify-3.1.min.js' %}"></script>

            <script src="{% static 'js/jquery.history.js' %}"></script>
            <script src="{% static 'js/rug.js' %}"></script>


</body>

</html>