<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="fname">First name:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="lname">password:</label><br>
        <input type="password" id="password" name="password"><br>
        <button type="submit">Entrar</button>
      </form>
</body>
</html>